/*General CSS*/
body{
    margin:0px;
    color:rgba(89, 93, 96);
    font-family: "Muli","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: justify;
    box-sizing: border-box;
}
a {
    color: #67888d;
    text-decoration: none;
    
  }

  a:hover {
    color: #b3c9c9;
    font-weight: 200;
    letter-spacing: 3px;
  } 

  h1,h2,h3,h4,h5,h6{
      color: #67888d;
  }
  p { margin:0 }

/* Navbar CSS */
#masterhead{
    
    color: #67888d;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    overflow: hidden;
    background-color: #F9F9F9;
    padding:10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
    z-index:99;
    box-sizing: border-box;
    

}

.navContainer{
    width: 1000px;
    margin:auto;
    
}



#logo{
    float:left;
    border: 1px solid #67888d;
    padding:5px;
    font-weight: 200;
}
#navitems{
    padding:5px;
    float: right;
}
#navitems a:hover{
    text-decoration: underline;
}
/* Footer*/
footer{
    text-align: center;
    color: #67888d;
    border-top: 5px solid#67888d;;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(242, 248, 248);
    padding:15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
    z-index:99;
    box-sizing: border-box;
    clear:both;
}
/* Intro photo and intro card css */
#introTest{
    margin:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:0px;
    padding: 0px;
}
#intro{
    margin:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:0px;
    padding: 0px;
}

#introPhoto{
    height:100%;
    width:100%;
    overflow: hidden;
}
#introCard{
    text-align: center;
    background: #F9F9F9;
    width: 350px;
    height: 125px;
    position: absolute;
    color:  #67888d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

/* Intro photo and intro card css */
#aboutWrapper{
    background:  #F5F5F5;
    /* background: pink; */
    padding-bottom: 43px;
    padding-top:33px;
    clear:both;
}
#about{
    width:1000px;
    overflow: auto;
    margin: auto;
}
#portfolioimg{
    width: 250px;
    float:left;
    margin-right: 20px;
    border-radius: 12px;
}
#aboutParagraph{
margin-left: 10px;
line-height:1.5;
}

/*Portfolio section*/
#portfolioWrapper{
    padding-top:33px;
    padding-bottom: 43px;
    clear:both;
    overflow:hidden
}
#portfolioDisplay{
    width:1000px;
    margin:auto;
}
.work{
    position: relative;
    width:310px;

    margin: 10px 10px 10px 10px;
    float: left;
}
.work img{
    width: 100%;


}
.work h3{
    position: absolute;
    bottom: 20px;
    width: 100%;

    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #67888D;
    border-bottom: 0;
}